<!--views/articles/new.ejs-->
<!DOCTYPE html>

<html>
  <head>
  </head>
  <body>
    <h1>Edit an article</h1>
    <form method="POST" action="/articles/<%=id%>?_method=PUT">
      <input type="text" name="articleTitle" placeholder="Article title" value="<%= articleToEdit.title %>"><br />
      <input type="text" name="articleAuthor" placeholder="Article author" value="<%= articleToEdit.author %>"><br />
      <textarea name="articleContent">
      	<%= articleToEdit.content %>
      </textarea><br />
      <button>Save </button>
    </form>
  </body>
</html>
