<!--views/articles/index.ejs-->
<!DOCTYPE HTML>
<html>
<body>
<h1>Articles index</h1>
<% articlesList.forEach(function(Article) { %>
<div>
  <a href="/articles/<%= Article.id %>"><%= Article.title %></a>
  <div>
    <%= Article.content %>
  </div>
</div>
<% }) %>
<p><a href="/articles/new">Submit a new article</a></p>
<a href="/">Home</a>
</body>
</html>

