<!--views/articles/new.ejs-->
<!DOCTYPE html>

<html>
  <head>
  </head>
  <body>
    <h1>Add an article</h1>
    <form method="POST" action="/articles">
      <input type="text" name="articleTitle" placeholder="Article title"><br />
      <input type="text" name="articleAuthor" placeholder="Article author"><br />
      <textarea name="articleContent" placeholder="Write your article here"></textarea><br />
      <button type="submit">Post</button>
    </form>
  </body>
</html>
