<!--views/site/index.ejs-->
<!DOCTYPE HTML>
<html>
<body>
	<img src="http://public.media.smithsonianmag.com/legacy_blog/first-daily-planet1.jpg">
<h1>Welcome to the Daily Planet!</h1>
<h2>Get started by either selecting to view articles or submit articles.</h2>
<div>
	<ul>
		<li><a href="/articles">View All Articles</a></li>
		<li><a href="/articles/new">Submit an Article</a></li>
		<li><a href="/about">About This Site</a></li>
		<li><a href="/contact">Contact the Daily Planet</a></li>
	</ul>
</div>
</body>
</html>

